# Dependency directories
node_modules/
dist/

# Environment variables
.env

# Build artifacts
build/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

marcyourmind-01-firebase-adminsdk-mkura-11eed6cf26.json

.DS_Store